.tasks {
  width: 656px;
  background-color: white;
  margin-left: 266px;
  border-right: var(--generic-border);
  min-height: calc(100vh);
  vertical-align: top;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 80px;
  padding-bottom: 84px;

  @include mq('900px') {
    margin-left: 0;
    width: auto;
  }

  h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0 30px 20px 0;
  }

  .add-task {
    margin-top: 20px;
  }

  &__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 18px;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    list-style-type: none;
    border-bottom: 1px solid #f0f0f0;

    .checkbox-holder {
      margin-right: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      line-height: 16px;

      .checkbox {
        cursor: pointer;
        border-color: gray;
        color: #343434;
        height: 16px;
        width: 16px;
        display: block;
        border: 1px solid gray;
        border-radius: 16px;
      }
    }
  }
}