:root {
  --text-dark: #202020;
  --dim-black: rbga(0, 0, 0, 0.1);
  --color-off-white: #fafafa;
  --generic-box-shadow: var(--dim-black) 0px 0px 0px 1px,
    var(--dim-black) 0px 4px 11px;
  --generic-border: 1px solid #f1f1f1;
  --generic-bg: #db4c3f;
}
